
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Satisfy", system-ui;
font-family: "Dancing Script", system-ui;
font-family: "Roboto", sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --azul-claro: #5f95ed;
    --azul-medio: #000664;
    --azul-medio2: #000877;
    --azul-escuro: #000148;
    --cor-de-fundo: #fffcf6;
}
body{
    background-color: var(--cor-de-fundo);
}

main{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    background-image: url('imagens/background2.png');
}


#bloco1{
    display: flex;
    flex-direction: column;
    background-image: url('imagens/bloco1.png');
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 70px;
}

#versiculo{
    font-family: 'Times New Roman', Times, serif;
    width: 90%;
    text-align: end;
    padding: 0px 30px;
    font-size: 17px;
    color: #4275c8;
}
#verso{
    font-family: 'Times New Roman', Times, serif;
    text-align: end;
    padding: 0px 30px;
    font-size: 17px;
    color: #4275c8;
}

#versiculoDiv{
    display: flex;
    flex-direction: column;
    align-items: end;
}


#nomes{
    margin: 40px 0px 0px 0px;
}
#nomes div{
    font-family: "Dancing Script", system-ui;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: var(--azul-medio2);
    
}

#nomes>p{
    font-family: "Roboto", sans-serif;
    color: var(--azul-claro);
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
#nomes img{
    width: 150px;
    margin: auto;
    display: block;
}


#dataDiv p{
    font-size: 40px;
    font-family: "Noto Serif", system-ui;
    color: #425f99;
    text-align: center;
}

#timers{
    display: flex;
    justify-content: center;
    gap: 25px;
}

#timers>div{
    display: flex;
    flex-direction: column;
    
    width: 65px;
    height: 90px;
    align-items: center;
    border: 4px solid #425f99;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #23246d;
    font-size: 40px;
    margin-top: 20px;
   
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#timers span{
    margin-top: 25px;
    font-weight: 100%;
}
#timers div p{
    font-family: "Noto Serif", system-ui;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: 13px;
    
    letter-spacing: -1px;
    background-color: var(--azul-escuro);
    border-radius: 0px 0px 10px 10px;
    margin-top: 5px;
    width: 110%;
    height: 100%;
}


#separador{
    
    width: 80%;
    height: 60px;
    background-image: url('imagens/separador.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px auto;
    transform: scaleY(-1);
}

#bloco2{
    background-image: url('imagens/bloco2.png');
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    
    
    padding-top: 40px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    color: #062860;
    gap: 20px;
}

#bloco2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloco2 h2{
    
    font-family: "Dancing Script", system-ui;
    font-size: 40px;
}

#bloco2 form{
    width: 80%;
}

#bloco2 form label{
   
    text-align: start;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#bloco2 form input{
    width: 100%;
    height: 30px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#bloco2 form button{
    font-family: "Courgette", cursive;
    margin-top: 20px;
    background-color: #062860;
    padding: 15px;
    border-radius: 5px;
    color: white;
    border: none;
}

#bloco2 form p{
    font-family: "Courgette", cursive;
    margin-top: 20px;
    display: none;

    color: white;
    
}

#bloco3{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
    background-image: url('imagens/bloco3.png');
    background-size: 300px;
    
    background-position-x: left;
    background-position-y: 20px;
    background-repeat: no-repeat;
    padding-bottom: 70px;
}

.card{
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--azul-claro);
    box-shadow: 7px 4px 15px 0px #c8c8c8;
    gap: 5px;
    text-decoration: none;
   
}
.card img{
    width: 110px;

}

#bloco4{
    padding: 100px 0px 50px 0px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    color: var(--azul-escuro);
    background-image: url('imagens/bloco4.png');
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: center;
}

#bloco4>img{
    width: 130px;
}

#concorra{
    margin-top: 10px;
    font-weight: bold;
    font-size: 22px;
}

#bloco4 ul{
    margin-top: 20px;
    width: 250px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

#bloco4>div{
    margin-top: 58px;
    width: 80%;
    display: flex;
    justify-content: end;
    gap: 5px;
}

#bloco4 div img{
    width: 30px;
}

#bloco4 div div{
    display: flex;
    flex-direction: column;

}

#numero{
    color: #1140a9;
    font-size: 22px;
}

#preco{
    margin-top: 10px;
    color: #1140a9;
    font-size: 22px;
}

#pix{
    font-family: 'Roboto', sans-serif;
}
#pixDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

audio{
    background-color: none;
    margin: auto;
    width: 100px;
    margin-top: 20px;
}

#bloco5{
    margin: auto;
    text-align: center;
}
#bloco5 img{
    width: 90%;

}